<main class="main">
  <div class="content">
    <div class="container">
      <div class="row">
        <input
          type="file"
          (change)="onFolderSelected($event)"
          webkitdirectory
        />
      </div>
      <div class="row">
        <button
          type="button"
          class="btn btn-primary"
          (click)="start()"
        >Start</button>
      </div>
      <div class="row">
        <textarea
          id="ast"
          [value]="ast"
        >
        </textarea>
      </div>
    </div>
  </div>
</main>

<router-outlet />
